.title{
    color: #0415aa;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
}
button {
    background-color: #0415aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.discount{
    color: red;
}

button:hover {
    opacity: 0.8;
}

.jersey{
    border:  2px solid #f1f1f1;
}

*{
    text-align: center;
}

h2{
    color: #0415aa;
}

div{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
}